.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  
  background-color: $secondary;
  color: $white;
}

.copyright {
  background-color: darken($secondary, 10%);
}

.aspect-ratio-box {
  position: relative;
  margin: 0 auto;
  
  /* 40:29 Aspect Ratio */
  width: 80%;
  padding-top: calc((29/40) * 80%);
  
  @media (min-width: 576px) {
    width: 100%;
    padding-top: calc((29/40) * 100%);
  }
}

.tryout-box {
  position: relative;
  margin: 0 auto;
  
  /* 4:3 Aspect Ratio */
  width: 100%;
  padding-top: calc((10/16) * 100%);
}

.aspect-ratio-box > iframe {
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid $secondary;
}