header.masthead {
  // padding-top: calc(1rem + 74px);
  // padding-bottom: 1rem;
  padding-top: 76px;
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.3rem;
    @include body-font;
  }
  h4 {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  header.masthead {
    // padding-top: calc(1rem + 109px);
    padding-top: 109px;
    // padding-bottom: 1rem;
    h1 {
      font-size: 4.75em;
      line-height: 4rem;
    }
    h2 {
      font-size: 1.75em;
    }
    h4 {
      font-size: 1.5rem;
    }
  }
}
